# Pemilihan kolom (columns selection) pada Data Frame berdasarkan tipe data

## Import Modules

In [4]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

Pandas version: 2.2.3
NumPy version: 2.1.3

## Persiapan Data Frame

In [5]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df = df.astype({'bil_pecahan': 'float'})

# Ganti baris yang error dengan ini:
# df.index = pd.util.testing.makeDataIndex(n_rows, freq='h')
# menjadi:
df.index = pd.date_range(start='2025-01-01', periods=n_rows, freq='h')

df = df.reset_index()
df['text'] = list('ABCDE')

df

                index  bil_pecahan  bil_bulat text
0 2025-01-01 00:00:00          1.0         18    A
1 2025-01-01 01:00:00         15.0         14    B
2 2025-01-01 02:00:00          3.0          2    C
3 2025-01-01 03:00:00         17.0         14    D
4 2025-01-01 04:00:00          6.0         19    E

In [6]:
df.dtypes

index          datetime64[ns]
bil_pecahan           float64
bil_bulat               int32
text                   object
dtype: object

## Memilih kolom bertipe data numerik

In [7]:
df.select_dtypes(include='number')

   bil_pecahan  bil_bulat
0          1.0         18
1         15.0         14
2          3.0          2
3         17.0         14
4          6.0         19

In [8]:
df.select_dtypes(include='datetime')

                index
0 2025-01-01 00:00:00
1 2025-01-01 01:00:00
2 2025-01-01 02:00:00
3 2025-01-01 03:00:00
4 2025-01-01 04:00:00

In [9]:
df.select_dtypes(include='int')

   bil_bulat
0         18
1         14
2          2
3         14
4         19

## Memilih kolom bertipe data string atau `object`

In [10]:
df.select_dtypes(include=['object'])

  text
0    A
1    B
2    C
3    D
4    E