# Menyertakan Prefix dan Suffix pada seluruh Kolom Pandas Data Frame

## Import Modules

In [1]:
import pandas as pd
import numpy as np

print('Version Pandas:', pd.__version__,
      '\nVersion Numpy:', np.__version__)

Version Pandas: 2.2.3
Version Numpy: 2.1.3

## Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(0, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  5  4  2  0  0
1  1  8  0  5  7
2  3  5  3  0  4
3  3  6  1  3  8
4  0  8  0  1  3

In [3]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

## Menyertakan Prefix Kolom

In [4]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        5        4        2        0        0
1        1        8        0        5        7
2        3        5        3        0        4
3        3        6        1        3        8
4        0        8        0        1        3

## Menyertakan Suffix Kolom

In [5]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        5        4        2        0        0
1        1        8        0        5        7
2        3        5        3        0        4
3        3        6        1        3        8
4        0        8        0        1        3