# Menggabungkan dua Pandas Data Frame

## Import Modules

In [1]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__,
      "\nNumPy version:", np.__version__)

Pandas version: 2.2.3
NumPy version: 2.1.3

## Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df

    A   B   C   D   E
0   4  11   1   3  12
1   5  12  17  18   5
2  16   4  17   9   7
3   8  15  17  14   8
4   9   2  15  18  19

In [6]:
df1 = df.copy(deep=True)  # Membuat salinan independen
df1 = df1.drop([1,4])  # Menghapus baris 1 dan 4 dari df1

df1

    A   B   C   D   E
0   4  11   1   3  12
2  16   4  17   9   7
3   8  15  17  14   8

In [7]:
df2 = df.copy(deep=True)  # Membuat salinan independen
df2 = df2.drop([0,3])  # Menghapus baris 1 dan 4 dari df2

df2

    A   B   C   D   E
1   5  12  17  18   5
2  16   4  17   9   7
4   9   2  15  18  19

## Menggabungkan dua DataFrame

In [15]:
df_inner = pd.merge(df1, df2, how='inner')
df_inner

    A  B   C  D  E
0  16  4  17  9  7

In [14]:
df_outer = pd.merge(df1, df2, how='outer')
df_outer

    A   B   C   D   E
0   4  11   1   3  12
1   5  12  17  18   5
2   8  15  17  14   8
3   9   2  15  18  19
4  16   4  17   9   7