# Memeriksa kesamaan antar dua buah kolom (Series) pada Data Frame

# Import Modules

In [1]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

Pandas version: 2.2.3
NumPy version: 2.1.3

# Persiapan Data Frame

In [5]:
data = {'A':[15,15,18,np.nan,12],
        'B':[15,15,18,np.nan,12]}
df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

## Mengenal Pandas Series

In [6]:
# memilih kolom A
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

## Memeriksa kesamaan dengan operator `==`

In [ ]:
#Memeriksa apakah kolom A memiliki nilai yang sama dengan kolom B dengan operator ==
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

## Memeriksa kesamaan nilai di kolom A dan B menggunakan metode equals

In [ ]:
df['A'].equals(df['B'])

True

## Memeriksa kesamaan nilai antar Data Frame

In [ ]:
df1 = df.copy(deep=True)

df.equals(df1)

True

## Sebaiknya menggunakan equal untuk membandikan antar kolom atau dataframe dibandingkan menggunakan operator ==