# Seleksi weekdays dan weekends pada data deret waktu (time series)

## Import Modules

In [1]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

Pandas version: 2.3.1
NumPy version: 2.3.2

## Persiapan Data Frame

In [8]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df.index = pd.date_range(start='2000-01-01', periods=n_rows, freq='D')
df

            col1  col2
2000-01-01     1     2
2000-01-02    17     4
2000-01-03    10     2
2000-01-04     2    12
2000-01-05     7    18
...          ...   ...
2000-12-26    15    16
2000-12-27    11     5
2000-12-28     8    14
2000-12-29    15    16
2000-12-30     8    16

[365 rows x 2 columns]

## Seleksi weekdays dan weekends

In [9]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2000-01-03    10     2
2000-01-04     2    12
2000-01-05     7    18
2000-01-06     1     8
2000-01-07     3     7
2000-01-10    14     3
2000-01-11    14     2

In [10]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            col1  col2
2000-01-01     1     2
2000-01-02    17     4
2000-01-08     9    11
2000-01-09     5    19
2000-01-15    19     5
2000-01-16    18     9
2000-01-22    16     9