# Membuat Data Frame dari hasil seleksi Spreadsheet

# Import Modules

In [1]:
import pandas as pd

print("Pandas version:", pd.__version__)

Pandas version: 2.2.3

## Membuat Data Frame dari hasil seleksi Spreadsheet

In [ ]:
df = pd.read_clipboard()

df

       NIM  Nama
0  7218123  Tejo
1  8218162  Bejo
2  7218462   Adi