# Memecah nilai string suatu kolom ke dalam beberapa kolom baru pada Pandas Data Frame

## Import Modules

In [1]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__,
      "\nNumPy version:", np.__version__)

Pandas version: 2.2.3
NumPy version: 2.1.3

## Persiapan Data Frame

In [5]:
data = {'nama': ['Didi Kempot', 'Glenn Fredly', 'Mbah Surip'],
        'tempat_kelahiran': ['Surakarta, Jawa Tengah', 'Jakarta, DKI Jakarta', 'Mojokerto, Jawa Timur']}

df = pd.DataFrame(data)
df

           nama        tempat_kelahiran
0   Didi Kempot  Surakarta, Jawa Tengah
1  Glenn Fredly    Jakarta, DKI Jakarta
2    Mbah Surip   Mojokerto, Jawa Timur

## Memecah nama depan dan nama belakang

In [ ]:
df[['nama_depan', 'nama_belakang']] = df['nama'].str.split(' ', expand=True)
df

           nama        tempat_kelahiran nama_depan nama_belakang
0   Didi Kempot  Surakarta, Jawa Tengah       Didi        Kempot
1  Glenn Fredly    Jakarta, DKI Jakarta      Glenn        Fredly
2    Mbah Surip   Mojokerto, Jawa Timur       Mbah         Surip

## Memecah nama Kota dan nama Provinsi

In [8]:
df[['kota', 'provinsi']] = df['tempat_kelahiran'].str.split(', ', expand=True)
df

,nama,tempat_kelahiran,nama_depan,nama_belakang,kota,provinsi
0,Didi Kempot,"Surakarta, Jawa Tengah",Didi,Kempot,Surakarta,Jawa Tengah
1,Glenn Fredly,"Jakarta, DKI Jakarta",Glenn,Fredly,Jakarta,DKI Jakarta
2,Mbah Surip,"Mojokerto, Jawa Timur",Mbah,Surip,Mojokerto,Jawa Timur