# Deteksi dan penangan kolom dengan tipe data beragam (mixed data types)

## Import Modules

In [1]:
import pandas as pd

print("Pandas version:", pd.__version__)

Pandas version: 2.3.1

## Persiapan Data Frame

In [2]:
d = {'nama': ['bejo', 'tejo', 'wati', 'tiwi', 'cecep'],
     'ipk': [2, '3', 3, 2.75, '3.25']}

df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

## Deteksi dan penangan kolom dengan tipe data beragam (mixed data types)

In [5]:
df.dtypes

nama    object
ipk     object
dtype: object

In [10]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [11]:
df['ipk'].apply(type).value_counts()

ipk
<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: count, dtype: int64

In [12]:
df['ipk'] = df['ipk'].astype(float)

In [15]:
df['ipk'].apply(type).value_counts()

ipk
<class 'float'>    5
Name: count, dtype: int64

In [13]:
df.dtypes

nama     object
ipk     float64
dtype: object