# Menghitung jumlah baris menurut kriteria tertentu

## Import Modules

In [1]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__)
print("Numpy version:", np.__version__)

Pandas version: 2.3.1
Numpy version: 2.3.2

## Persiapan Data Frame

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(
    np.random.randint(1, 10, size=(n_rows, n_cols)),
    columns=cols)
df

   A  B  C  D  E
0  7  9  6  2  1
1  1  6  1  6  2
2  5  1  4  8  6
3  9  3  1  1  9
4  4  1  1  6  4
5  7  8  9  1  2
6  3  3  3  2  7
7  2  8  5  5  2
8  2  4  9  7  8
9  2  3  6  5  7

## Menghitung jumlah baris menurut kriteria tertentu

In [3]:
(df['A'] < 5).sum()

np.int64(6)

In [4]:
(df['A'] < 5).mean()

np.float64(0.6)