# Seleksi kolom dan baris pada Data Frame menggunakan loc

## Persiapan Data Frame

In [1]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__,
      "\nNumPy version:", np.__version__)

Pandas version: 2.2.3
NumPy version: 2.1.3

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,20, size=(n_rows, n_cols)), columns=cols)

df

    A   B   C   D   E
0   7   8   7  16   9
1  14   6   4  13   8
2  10  19  12  11  19
3  12   2  12   6   4
4  16  16   3   5   2
5  15  13  12  15  16
6  17   3  19   9   8
7   1  17   5  12  16
8   6   2   2   7   5
9  10   2   6  19  11

## Seleksi kolom dan baris menggunakan loc

In [5]:
df.loc[[0,3,4], ['B','E']]

    B  E
0   8  9
3   2  4
4  16  2

## Seleksi baris dengan kondisi

In [14]:
df.loc[df['B'] > 10, ['B', 'D', 'E']]

    B   D   E
2  19  11  19
4  16   5   2
5  13  15  16
7  17  12  16

## Slicing Data Frame dengan loc

In [17]:
df.loc[0:4, 'B':'D']

    B   C   D
0   8   7  16
1   6   4  13
2  19  12  11
3   2  12   6
4  16   3   5