# Seleksi baris dengan `between()`

## Import Modules

In [1]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

Pandas version: 2.3.1
NumPy version: 2.3.2

## Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(
    np.random.randint(1, 10, size=(n_rows, n_cols)),
    columns=cols)
df

   A  B  C  D  E
0  4  4  4  2  9
1  7  7  6  2  5
2  3  9  3  8  2
3  8  5  2  8  7
4  7  4  2  9  6
5  9  2  4  5  9
6  1  4  1  5  9
7  8  3  9  7  1
8  7  4  4  7  4
9  8  2  5  7  6

## Seleksi dengan `between()`

In [10]:
df[df['A'].between(2, 4)]

   A  B  C  D  E
0  4  4  4  2  9
2  3  9  3  8  2

In [9]:
df[df['A'].between(2, 4, inclusive='neither')]

   A  B  C  D  E
2  3  9  3  8  2