# Akses nilai variabel pada `query()`

## Import Modules

In [1]:
import pandas as pd
import numpy as np

print("Pandas Version:", pd.__version__)
print("Numpy Version:", np.__version__)

Pandas Version: 2.2.3
Numpy Version: 2.1.3

## Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df

    A   B   C   D   E
0   8   5   3   7   7
1  16  17  10   8  11
2  15  19   9   4  11
3  17   7  13   2  19
4  13  12   4  16  14

## Akses nilai variabel pada `query()`

In [4]:
df.query('A > 10')

    A   B   C   D   E
1  16  17  10   8  11
2  15  19   9   4  11
3  17   7  13   2  19
4  13  12   4  16  14

In [5]:
rerata = df['A'].mean()
rerata

np.float64(13.8)

In [6]:
df.query('A > @rerata')

    A   B   C  D   E
1  16  17  10  8  11
2  15  19   9  4  11
3  17   7  13  2  19

## üìù Kesimpulan

### üéØ **Ringkasan Pembelajaran**

Pada notebook ini, kita telah mempelajari cara **mengakses nilai variabel** dalam method `query()` pandas. Fitur ini sangat powerful untuk membuat filtering yang dinamis dan fleksibel.

### üîß **Poin-Poin Penting:**

#### 1. **Syntax Dasar `query()`**
```python
df.query('column_name > value')
```
- Menggunakan **string expression** untuk kondisi filtering
- Mirip dengan SQL WHERE clause
- Lebih readable daripada boolean indexing

#### 2. **Mengakses Variabel dengan `@`**
```python
threshold = 10
df.query('A > @threshold')
```
- Gunakan **`@`** untuk mengakses variabel dari environment
- Variabel bisa berupa angka, string, atau hasil perhitungan
- Memungkinkan filtering yang **dinamis** dan **programmable**

#### 3. **Keuntungan Menggunakan Variabel:**
- **üîÑ Dynamic Filtering**: Threshold bisa berubah tanpa mengubah query
- **üìä Calculated Values**: Bisa menggunakan hasil perhitungan (mean, median, dll)
- **üéØ Cleaner Code**: Code lebih readable dan maintainable
- **üöÄ Performance**: Query method sering lebih cepat untuk dataset besar

### üí° **Best Practices:**

1. **Gunakan nama variabel yang deskriptif**
   ```python
   average_score = df['score'].mean()
   df.query('score > @average_score')
   ```

2. **Kombinasikan dengan operasi pandas lainnya**
   ```python
   threshold = df['column'].quantile(0.75)  # Top 25%
   df.query('column > @threshold')
   ```

3. **Gunakan untuk multiple conditions**
   ```python
   min_val = 5
   max_val = 15
   df.query('@min_val < A < @max_val')
   ```

### üîÑ **Perbandingan dengan Boolean Indexing:**

| Method | Syntax | Readability | Performance |
|--------|--------|-------------|-------------|
| **Boolean Indexing** | `df[df['A'] > threshold]` | ‚≠ê‚≠ê‚≠ê | ‚≠ê‚≠ê‚≠ê |
| **Query Method** | `df.query('A > @threshold')` | ‚≠ê‚≠ê‚≠ê‚≠ê‚≠ê | ‚≠ê‚≠ê‚≠ê‚≠ê |

### üéØ **Kapan Menggunakan Query:**
- ‚úÖ **Complex conditions** dengan multiple criteria
- ‚úÖ **Dynamic filtering** dengan variable thresholds
- ‚úÖ **String operations** dan pattern matching
- ‚úÖ **Large datasets** (numexpr optimization)
- ‚úÖ **Readable code** untuk team collaboration

Dengan menguasai `query()` method dan variable access menggunakan `@`, kita bisa membuat data filtering yang lebih powerful, fleksibel, dan mudah dibaca! üöÄ