# Membuat kategori baru berdasarkan threshold (ambang batas)

## Import Modules

In [1]:
import pandas as pd

print("Pandas version:", pd.__version__)

Pandas version: 2.3.1

## Persiapan Data Frame

In [2]:
data = {
    'hobi': ['jogging', 'mancing', 'renang',
             'mancing', 'mancing', 'baca',
             'baca', 'mancing', 'fotografi',
             'mancing', 'camping']
}

df = pd.DataFrame(data)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotografi
9     mancing
10    camping

## Membuat kategori baru berdasarkan threshold (ambang batas)

In [5]:
df['hobi'].value_counts().to_frame()

           count
hobi
mancing        5
baca           2
jogging        1
renang         1
fotografi      1
camping        1

In [6]:
persentase = df['hobi'].value_counts(normalize=True)
persentase

hobi
mancing      0.454545
baca         0.181818
jogging      0.090909
renang       0.090909
fotografi    0.090909
camping      0.090909
Name: proportion, dtype: float64

In [10]:
threshold = 0.1

hobi_lain = persentase[persentase < threshold].index
hobi_lain

Index(['jogging', 'renang', 'fotografi', 'camping'], dtype='object', name='hobi')

In [11]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df

       hobi
0   lainnya
1   mancing
2   lainnya
3   mancing
4   mancing
5      baca
6      baca
7   mancing
8   lainnya
9   mancing
10  lainnya

In [12]:
df['hobi'].value_counts(normalize=True).to_frame()

         proportion
hobi
mancing    0.454545
lainnya    0.363636
baca       0.181818