# Mengenal tipe data ordinal pada Pandas

# Import Modules

In [1]:
import pandas as pd

print("Pandas version:", pd.__version__)

Pandas version: 2.2.3

## Persiapan Data Frame

In [2]:
d = {'pelanggan': [11, 12, 13, 14],
     'kepuasan': ['baik', 'cukup', 'buruk', 'cukup']}

df = pd.DataFrame(d)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

## Tipe data ordinal pada Pandas

In [ ]:
from pandas.api.types import CategoricalDtype

tingkat_kepuasan = CategoricalDtype(categories=['buruk', 'cukup', 'baik'], ordered=True)

df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

In [13]:
df = df.sort_values('kepuasan', ascending=False)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
3         14    cukup
2         13    buruk

In [7]:
df[df['kepuasan'] > 'cukup']

   pelanggan kepuasan
0         11     baik

In [8]:
df[df['kepuasan'] >= 'cukup']

   pelanggan kepuasan
0         11     baik
1         12    cukup
3         14    cukup

## üìù Kesimpulan

### üéØ **Ringkasan Pembelajaran: Tipe Data Ordinal pada Pandas**

Pada notebook ini, kita telah mempelajari cara menggunakan **tipe data ordinal** (Categorical dengan urutan) di pandas. Konsep ini sangat penting untuk data yang memiliki tingkatan atau urutan logis.

### üîß **Konsep Utama:**

#### 1. **Apa itu Data Ordinal?**
- Data kategorikal yang memiliki **urutan/ranking** yang bermakna
- Contoh: tingkat kepuasan (`buruk` < `cukup` < `baik`)
- Berbeda dengan data nominal yang tidak punya urutan

#### 2. **Implementasi dengan `CategoricalDtype`**
```python
from pandas.api.types import CategoricalDtype

# Definisi urutan yang eksplisit
tingkat_kepuasan = CategoricalDtype(
    categories=['buruk', 'cukup', 'baik'], 
    ordered=True
)

# Konversi kolom ke tipe ordinal
df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
```

#### 3. **Parameter `ordered=True`**
- **Kunci utama** untuk membuat data categorical menjadi ordinal
- Memungkinkan operasi perbandingan (`>`, `<`, `>=`, `<=`)
- Memungkinkan sorting yang logis

### üöÄ **Keuntungan Data Ordinal:**

#### **1. Sorting yang Bermakna**
```python
df.sort_values('kepuasan', ascending=False)
# Output: baik ‚Üí cukup ‚Üí buruk (sesuai urutan logis)
```

#### **2. Filtering dengan Perbandingan**
```python
df[df['kepuasan'] > 'cukup']     # Hanya yang 'baik'
df[df['kepuasan'] >= 'cukup']    # 'cukup' dan 'baik'
```

#### **3. Memory Efficiency**
- Menyimpan sebagai integers internally
- Lebih hemat memory dibanding string biasa
- Faster operations untuk dataset besar

### üí° **Best Practices:**

1. **Definisi Urutan yang Jelas**
   - Urutkan categories dari rendah ke tinggi
   - Gunakan nama yang intuitif dan konsisten

2. **Validasi Data**
   - Pastikan semua nilai ada dalam categories
   - Handle missing values dengan tepat

3. **Konsistensi**
   - Gunakan urutan yang sama di seluruh aplikasi
   - Dokumentasikan urutan untuk tim

### üîÑ **Perbandingan: String vs Ordinal**

| Aspek | String Biasa | Ordinal Categorical |
|-------|-------------|-------------------|
| **Sorting** | Alphabetical | Logical order ‚úÖ |
| **Comparison** | Alphabetical | Meaningful ‚úÖ |
| **Memory** | Higher | Lower ‚úÖ |
| **Performance** | Slower | Faster ‚úÖ |

### üéØ **Use Cases Praktis:**

- **Survei kepuasan**: Sangat Buruk ‚Üí Buruk ‚Üí Netral ‚Üí Baik ‚Üí Sangat Baik
- **Grade akademik**: F ‚Üí D ‚Üí C ‚Üí B ‚Üí A
- **Tingkat pendidikan**: SD ‚Üí SMP ‚Üí SMA ‚Üí S1 ‚Üí S2 ‚Üí S3
- **Size pakaian**: XS ‚Üí S ‚Üí M ‚Üí L ‚Üí XL ‚Üí XXL

### üìä **Tips untuk Implementasi:**

1. **Selalu gunakan `ordered=True`** untuk data ordinal
2. **Definisikan categories secara eksplisit** untuk menghindari ambiguitas
3. **Test sorting dan comparison** setelah konversi
4. **Dokumentasikan urutan** untuk referensi tim

Dengan menguasai tipe data ordinal, kita bisa melakukan analisis yang lebih akurat dan meaningful pada data kategorikal yang memiliki urutan natural! üéì