# Mengenal fungsi agregasi `first()` dan `last()`

## Import Modules

In [1]:
import pandas as pd

print("Pandas version:", pd.__version__)

Pandas version: 2.2.3

## Persiapan Data Frame

In [3]:
d = {'dokter': ['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'],
     'pasien': ['Abdul', 'Rahmat', 'Asep', 'Joko', 'Wiwin', 'Lisa']}

df = pd.DataFrame(d)
df

  dokter  pasien
0   Budi   Abdul
1   Wati  Rahmat
2   Iwan    Asep
3   Budi    Joko
4   Budi   Wiwin
5   Wati    Lisa

## Mengenal fungsi agregasi `first()` dan `last()`

In [4]:
df.groupby('dokter')['pasien'].count().to_frame()

        pasien
dokter
Budi         3
Iwan         1
Wati         2

In [6]:
# Fungsi first adalah untuk mengambil nilai pertama dari setiap grup

df.groupby('dokter')['pasien'].first().to_frame()

        pasien
dokter
Budi     Abdul
Iwan      Asep
Wati    Rahmat

In [7]:
# Fungsi last adalah untuk mengambil nilai terakhir dari setiap grup

df.groupby('dokter')['pasien'].last().to_frame()

       pasien
dokter
Budi    Wiwin
Iwan     Asep
Wati     Lisa